div.one {
    height: 100px;
    max-width: 50%;
    background-color: powderblue;
    padding: 20px;
    border-radius: 15px;
    margin: auto;
    border: 4px dashed black;
  }
  div.two {
    height: 100px;
    max-width: 150px;
    background-color: rgba(83, 253, 5, 0.4);
    padding: 100px;
    margin: auto;
    border-radius: 15px;
    margin-top: 40px;
    border: 4px dashed black;
  }
  div.three {
    height: 100px;
    min-width: 200px;
    background-color: rgba(253, 5, 5, 0.4);
    padding: 80px;
    margin: auto;
    border-radius: 15px;
    margin-top: 40px;
    border: 4px dashed black;
  }
  p {
    font-family: Arial;
    text-align: center;
  }
  